/* orderDetails.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #424242;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

#orderInfo {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12);
}

div {
    margin-top: 10px;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #00796B;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

form {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para os inputs e labels */
input[type="text"] {
    width: calc(100% - 22px); /* Subtract padding and border */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Botões e links */
button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Divisões de conteúdo */
#userInfo, #cartInfo {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#totalPrice {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    text-align: right;
}
